RewriteEngine On
RewriteBase /payak-db/

# if the request is not a real file or directory, route it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?route=$1 [QSA,L]
